.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--green-dark);
}

.input-group input,
.input-group select {
  padding: 10px;
  border: 2px solid var(--border);
  border-radius: var(--radius);
  outline: none;
  background: #fff;
  font-size: 14px;
  color: var(--text-dark);
  transition: 0.15s;
}

.input-group input:focus,
.input-group select:focus {
  border-color: var(--green);
  box-shadow: 0 0 0 2px rgba(17, 85, 34, 0.25);
}

.full {
  grid-column: span 2;
}
