.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.tabs button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 14px;
  font-size: 13px;
  font-weight: 700;
  border-radius: var(--radius);
  border: 2px solid var(--green);
  background: #fff;
  color: var(--green-dark);
  cursor: pointer;
  transition: 0.18s;
}

.tabs button:hover {
  background: var(--green);
  color: #fff;
}

.tabs button.active {
  background: linear-gradient(90deg, var(--green-dark), var(--green));
  border-color: var(--green-dark);
  color: #fff;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}
